<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686483795509-b191q74scm0obec3co0ag2jq88mfa9bl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686483795509-b191q74scm0obec3co0ag2jq88mfa9bl</string>
	<key>API_KEY</key>
	<string>AIzaSyBuB360O0uE8JJb562AB56xWDG5DSk8_Ew</string>
	<key>GCM_SENDER_ID</key>
	<string>686483795509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mytodolist</string>
	<key>PROJECT_ID</key>
	<string>mytodolist-f4c53</string>
	<key>STORAGE_BUCKET</key>
	<string>mytodolist-f4c53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686483795509:ios:30f9b3968b5fe75de48b7c</string>
	<key>DATABASE_URL</key>
	<string>https://mytodolist-f4c53.firebaseio.com</string>
</dict>
</plist>